<section class="sg-page tmp01" ui-event="{ touchstart : 'clearRollover()'}">
    <div ng-if="!tempPO">

        <div class="po" ng-if="txt.text || page.pics[$index].src" ng-class="{'visible':visible}"
             ng-repeat="txt in page.texts track by $index">
            <!---->
            <img ng-class="{'fadeable':!page.pics[$index].noDelay}" ng-style="processPic(page.pics[$index])"
                 class="poItem"
                 ng-if="showPOItem(page.pics[$index])"
                 hm-tap="itemClickHandler(page.pics[$index])"
                 ng-src="{{getItemSrc(page.pics[$index])}}"
                 ui-event="{ touchstart : 'touchImage($event, $index)'}"
                 ng-mouseover="mouseOver($event, $index)"
                 ng-mouseleave="mouseLeave($event, $index)"
                 ng-mousemove="mouseMove($event, $index)"
                 draggable="false">
            <div ng-class="{'fadeable':!page.pics[$index].noDelay}"
                 class="poItem poText" id="{{subPrefix}}poText{{txt.index}}"
                 ng-style="processText(txt)"
                 ng-if="showPOItem(txt)"
                 hm-tap="itemClickHandler(txt)"><span class="bullet" ng-if="txt.bullet">&bull; </span>{{txt.text}}</div>
        </div>
    </div>
    <div ng-if="tempPO" class="prerender-container">
        <div class="po " repeat-done="layoutDone()" ng-cloak ng-repeat="txt in page.texts track by $index">
            <div ng-class="{'fadeable':!page.pics[$index].noDelay}"
                 class="poItem poText" id="temp{{subPrefix}}poText{{txt.index}}"
                 ng-style="processText(txt, true)"><span class="bullet" ng-if="txt.bullet">&bull; </span>{{txt.text}}</div></div>
    </div>
    <div ng-show="mouseOverText"
         id="{{subPrefix}}rollOverText" class="poItem rollOverText"
         ng-class="{'active':mouseOverText}"
         ng-style="styleCalculator(mouseOverText)">
        <div>{{mouseOverText.text}}</div>
    </div>
    <page-title ng-hide="subPageData && !isSubPage"></page-title>
    <subtitles></subtitles>
</section>