<section id="subGlass">
    <sub-tmp01-template ng-if="subGlassData.template == TEMPLATES.TMP_01" template-role="subGlassLayer"></sub-tmp01-template>
    <vid-template ng-if="$root.subGlassData.template == TEMPLATES.VID" template-role="subGlassLayer"></vid-template>
    <q1-template ng-if="$root.subGlassData.template == TEMPLATES.Q1" template-role="subGlassLayer"></q1-template>
    <q2-template ng-if="$root.subGlassData.template == TEMPLATES.Q2" template-role="subGlassLayer"></q2-template>
    <doc-template ng-if="$root.subGlassData.template == TEMPLATES.DOC" template-role="subGlassLayer"></doc-template>
</section>





